:host > div {
  div > img {
    display: block;
    width: 86px;
    height: 64px;
  }

  h2, h3, p {
    margin: 0;
    font-weight: normal;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 2rem;
  }
}
